.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(img/bg.jpg);   
    background-repeat: none;
    background-size: cover;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    display: none;
}

header,
main,
footer {
    text-align: center;
}

.logo {
    width: 500px;
}

.slogan {
    width: 50%;
}

body,
ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}


.button {
    text-decoration: none;
    color: #000;  
    background-color: #fff; 
    display: inline-block;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 14px;
}

.button:hover {
    flex-grow: 2;
    background-color: #00a;
}
